.row
	.col-md-3
		p(style='margin-bottom:2px') CHỌN TUYẾN
		select.form-control(ng-model='_route',
			ng-options='item._id as item.from + " - " + item.destination for item in routes')

		p(style='margin-top:14px; margin-bottom:2px') DANH SÁCH XE
		i(ng-if='data.length == 0') Không có xe nào cho tuyến được chọn.
		div.list-group#car-panel(style='position:relative; margin:0px auto; padding:0px; min-height:200px; overflow: hidden;')
			a.list-group-item(ng-href='#/car',
				ng-click='set_model(item)',
				ng-repeat='item in data') {{ item.name }}

	.col-md-9
		.page-header(style='margin-top:0px; margin-bottom:12px')
			a.btn.btn-success.btn-sm.pull-right(href='#/car/new')
				i.glyphicon.glyphicon-plus
				| Thêm
			h3(style='margin:0px') Thông tin xe

		.form-horizontal
			// Text input
			.form-group
				label.col-md-2.control-label Tên Xe
				.col-md-8
					label.form-control.input-md {{ model.name }}
			// Text input
			.form-group
				label.col-md-2.control-label Tuyến
				.col-md-8
					label.form-control.input-md {{ model._route.from + ' - ' + model._route.destination }}
			// Text input
			.form-group
				label.col-md-2.control-label Giờ khởi hành
				.col-md-8
					label.form-control.input-md {{ model.start_time }}
			// Textarea
			.form-group
				label.col-md-2.control-label Tổng số ghế
				.col-md-8
					label.form-control {{ model.seats.length }}
					div(style='width:100%')
						span.label.label-info(
							ng-repeat='item in model.seats track by $index',
							style='margin-right:4px; display:inline-block; width:50px')
							| {{ item }}
			// Textarea
			.form-group
				label.col-md-2.control-label Ghi chú
				.col-md-8
					label.form-control(style='min-height:43px; height:auto')
						| {{ model.notes }}

			// Textarea
			.form-group
				label.col-md-2.control-label
				.col-md-8
					a.btn.btn-default(href='#/car/edit/{{model._id}}')
						| Chỉnh sửa
