.modal.fade(ng-controller='home-login-ctrl')
	.modal-dialog
		.modal-content(ng-show='panel == "login"')
			.modal-header
				//- button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4.modal-title
					| Đăng nhập

			.modal-body
				form.form-horizontal(name='login_form')
					// Text input
					.form-group
						label.col-md-3.control-label(for='username') Tên đăng nhập
						.col-md-8
							input#user_name.form-control.input-md(
								ng-enter='login()',
								ng-model='credential.username',
								type='text', required, autofocus)

					// Text input
					.form-group
						label.col-md-3.control-label(for='password') Mật khẩu
						.col-md-8
							input#password.form-control.input-md(
								ng-enter='login()',
								ng-model='credential.password',
								type='password', required)

					// Text input
					.form-group.has-warning
						label.col-md-3
						.col-md-8.control-label(style='text-align:left')
							b(ng-if='err')
								| {{err.message}}

			.modal-footer
				.btn.btn-link(ng-click='panel_changed("registration")') Đăng ký
				button.btn.btn-primary(ng-click='login()')
					i.icon-signin
					| Đăng nhập

		.modal-content(ng-show='panel == "registration"')
			.modal-header
				//- button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
				h4.modal-title
					| Đăng ký

			.modal-body
				form.form-horizontal(name='registration_form')
					p
						u THÔNG TIN CÔNG TY
					// Text input
					.form-group
						label.col-md-3.control-label(for='company_name') Tên công ty
						.col-md-8
							input#company_name.form-control.input-md(ng-model='model.company_name', name='company_name', type='text', placeholder='', required='')
					// Text input
					.form-group
						label.col-md-3.control-label(for='phone_number') Điện thoại
						.col-md-8
							input#phone_number.form-control.input-md(ng-model='model.phone_number', name='phone', type='text', placeholder='', required='')
					// Text input
					.form-group
						label.col-md-3.control-label(for='address') Địa chỉ
						.col-md-8
							input#address.form-control.input-md(ng-model='model.address', name='address', type='text', placeholder='', required='')
					// Text input
					//- .form-group
						label.col-md-3.control-label(for='city') Thành phố
						.col-md-8
							input#city.form-control.input-md(ng-model='model.city', name='city', type='text', placeholder='')
					// Textarea
					//- .form-group
						label.col-md-3.control-label(for='notes') Ghi chú
						.col-md-8
							textarea#notes.form-control(ng-model='model.notes', name='notes')

					br
					p
						u THÔNG TIN TÀI KHOẢN QUẢN TRỊ VIÊN
					// Text input
					.form-group
						label.col-md-3.control-label(for='full_name') Họ Tên
						.col-md-8
							input#full_name.form-control.input-md(
								ng-model='user.full_name',
								name='full_name', type='text', required='')
					// Text input
					.form-group
						label.col-md-3.control-label(for='email') Email
						.col-md-8
							input#email.form-control.input-md(
								ng-model='user.username',
								name='email', type='email', required='')
					// Text input
					//- .form-group
						label.col-md-3.control-label(for='user_name') Tài khoản
						.col-md-8
							input#user_name.form-control.input-md(
								ng-model='user.username',
								name='user_name', type='text', required='')

					// Text input
					.form-group
						label.col-md-3.control-label(for='password') Mật khẩu
						.col-md-8
							input#password.form-control.input-md(
								ng-model='user.password',
								name='password', type='password', required='')

					// Text input
					.form-group.has-warning
						label.col-md-3
						.col-md-8.control-label(style='text-align:left')
							b(ng-if='err')
								| {{err.message}}

			.modal-footer
				.btn.btn-link(ng-click='panel_changed("login")') Đăng nhập
				button.btn.btn-primary(ng-click='registration()')
					i.icon-signin
					| Đăng ký
