//- doctype 5

html(ng-app='booking-mamangement')
	head
		meta(charset='UTF-8')
		title
			| Juddy Express
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

		//- medium-editor
		//- link(rel='stylesheet', href='bower_components/medium-editor/dist/css/medium-editor.css')
		//- link(rel='stylesheet', href='bower_components/medium-editor/dist/css/themes/default.css')

		link(rel='stylesheet', href='bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.min.css')
		link(rel='stylesheet', href='bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
		link(rel='stylesheet', href='bower_components/angular-datepicker/dist/index.min.css')

	body(style='padding:60px 30px;')

		include views/home/login

		div.row.clearfix(ng-controller='nav-ctrl')
			div.col-md-12.column
				nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
					div.navbar-header(style='margin-left:14px')
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/#/', style='color:#a0f900')
							| Juddy Express

					div#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							li
								a(ng-href='#/booking')
									b ĐẶT VÉ
							li
								a(ng-if='user.role == "admin"',
									ng-href='#/car') Chuyến Xe
							li
								a(ng-if='user.role == "admin"',
									ng-href='#/emp') Nhân viên
							li
								a(ng-if='user.role == "admin"',
									ng-href='#/route') Tuyến
							//- li
								a(ng-if='user.role == "admin"',
									ng-href='#/guest') Khách hàng
							li
								a(ng-if='user.role == "admin"',
									ng-href='#/setting') Cài đặt


						ul.nav.navbar-nav.navbar-right(style='padding-right:40px')
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| {{user.full_name || user.username}}
									b.caret
								ul.dropdown-menu
									//- li
									//- 	a(href='#') Thông tin tài khoản
									//- li
									//- 	a(href='#') Quản lý bài viết
									//- li
									//- 	a(href='#') Quản lý profile
									//- li.divider
									li
										a(href='#', ng-click='logout()') Đăng xuất

		div(ng-view, style='margin-top:14px')

		.row(style='margin-top:50px; margin-bottom:50px')
			.col-md-12
				label.label.label-success #Youthstd 2014

		script(src='/bower_components/jquery/dist/jquery.min.js')
		//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js')
		//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js')
		//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-resource.min.js')
		//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-route.min.js')
		//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-sanitize.min.js')
		script(src='bower_components/angular/angular.min.js')
		script(src='bower_components/angular-animate/angular-animate.min.js')
		script(src='bower_components/angular-resource/angular-resource.min.js')
		script(src='bower_components/angular-route/angular-route.min.js')
		script(src='bower_components/angular-sanitize/angular-sanitize.min.js')

		script(src='bower_components/angular-http-auth/src/http-auth-interceptor.js')
		script(src='bower_components/medium-editor/dist/js/medium-editor.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')
		script(src='bower_components/underscore.string/dist/underscore.string.min.js')
		script(src='bower_components/perfect-scrollbar/min/perfect-scrollbar-0.4.10.with-mousewheel.min.js')

		script(src='bower_components/moment/min/moment.min.js')
		script(src='bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
		script(src='bower_components/angular-datepicker/dist/index.min.js')

		script(src='scripts.js')
		script(src='templates.js')
